{% extends 'layout.html.twig' %}
{% block body %}
    <div class="row">
        {% set tab=['secondary','success'] %}
        {%for pfe in pfes%}
            <div class="card text-white m-auto bg-{{tab[loop.index%2] }} mb-3 " style="width: 18rem;">
                <div class="card-header">{{ pfe.nomEtudiant}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{pfe.entreprise}} </h5>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock %}